<div class="employee-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Test</mat-label>
    <input matInput />
  </mat-form-field>

  <button routerLink="/employees">Submit</button>
  <button routerLink="/employees">Cancel</button>
</div>
